@import "../../../shared/css/common.scss";

.rps-stats {
    padding: 2px;

    &__list {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    &__item {
        /* flex: 0 1 110px; */
        font-size: 14px;
        font-weight: 600;
        color: var(--text-primary);
        text-transform: uppercase;

        @include small-break {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: inline-block;
            }
        }

        &--value {
            color: var(--text-tertiary);
        }
    }
}
