.rps-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.rps-stats {
    padding: 2px;

    &__list {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    &__item {
        /* flex: 0 1 110px; */
        font-size: 14px;
        font-weight: 600;
        color: var(--text-primary);
        text-transform: uppercase;

        &--value {
            color: var(--text-tertiary);
        }
    }
}

.rps-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: var(--bg-primary);
}

.rps-result {
    text-align: center;
    text-transform: uppercase;

    &__title {
        font-size: 40px;
        font-weight: 800;
        color: var(--text-secondary);
    }

    &__outcome {
        font-size: 24px;
        font-weight: 600;
    }

    &__text {
        color: var(--text-primary);
    }

    &__win-amount {
        color: var(--text-tertiary);
    }
}

.rps-playing-info {
    text-align: center;
    text-transform: uppercase;

    &__title {
        font-size: 40px;
        font-weight: 800;
        color: var(--text-tertiary);
    }

    &__versus {
        font-size: 30px;
        font-weight: 800;
        color: var(--text-primary);
    }

    &__separator {
        font-size: 30px;
        font-weight: 800;
        color: aqua;
    }
}

.rps-game {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

    &__instruction {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
        color: var(--text-primary);
    }
}

.rps-choices {
    width: inherit;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rps-choice {
    flex: 0 1 170px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: var(--card-1-text);
    background: var(--card-1-bg);
    border: 2px solid var(--card-1-border);
    border-radius: 10px;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    &:not(&--disabled):hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }

    &:not(&--disabled):active {
        animation: pulse 0.3s ease-in-out;
    }

    &--disabled {
        /* opacity: 0.5; */
        cursor: not-allowed;
    }

    &--player {
        color: var(--card-2-text);
        background: var(--card-2-bg);
        border: 2px solid var(--card-2-border);
    }

    &--computer {
        color: var(--card-3-text);
        background: var(--card-3-bg);
        border: 2px solid var(--card-3-border);
    }

    &--winning {
        border: 4px solid var(--color-secondary);
    }

    &__value {
        width: 50px;
        height: 50px;
        font-weight: 800;
        color: #000;
        background: #fff;
        border: 4px solid #225eff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    &__name {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: auto;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.rps-button {
    margin-top: 75px;
    padding: 16px 50px;
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    color: var(--color-primary);
    background-color: #000;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: #fff;
        color: #000;
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }

    &:enabled:active {
        animation: pulse 0.3s ease-in-out;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.rps-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        text-align: center;
        max-width: 80%;
        width: 300px;

        p.rps-modal__message {
            color: #333;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
            user-select: none;
        }

        button.rps-modal__close-button {
            border: 2px solid var(--color-primary);
            border-radius: 50px;
            color: var(--color-primary);
            background-color: #000;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s ease;
            user-select: none;

            &:hover {
                background-color: #333;
                transform: scale(1.05);
            }

            &:active {
                animation: pulse 0.3s ease-in-out;
            }
        }
    }
}
